.jumbotron {
    color: white;
    background-image: url("../images/IMG_0672.jpg");
   
    background-position: 0 10%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
  }

  
.scroll {
    background-color: black;
  }

.navbar-toggler {
    color: rgba(0,0,0,.5);
    background-color: lightgray;
}

.navbar-light .navbar-nav .nav-link{
    background-color: inherit;
    color: inherit;
}

.navbar-light .navbar-brand{
    background-color: inherit;
    color: inherit;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link,
.navbar-light .navbar-brand:hover {
    color: green;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link
{
    background-color: inherit;
    color: inherit;
}
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.navbar .navbar-toggler {
    z-index: 1000
  }
  
  @media (max-width: 991.98px) {
    .navbar .navbar-collapse {
      background: rgba(0, 0, 0, 0.85);
      opacity: 0;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: opacity 0.35s ease;
      display: flex;
      flex-direction: column;
      align-content: center;
      text-align: center !important;
      overflow-y: scroll;
      overflow-x: hidden
    }
    .navbar .navbar-collapse.collapse {
      display: flex;
      opacity: 0;
      pointer-events: none
    }
    .navbar .navbar-collapse.collapsing[style*="height"] {
      opacity: 1;
      height: 100vh !important
    }
    .navbar .navbar-collapse.collapsing {
      opacity: 0;
      height: 100vh
    }
    .navbar .navbar-collapse.collapse.show {
      opacity: 1;
      pointer-events: auto
    }
    .navbar .navbar-collapse .navbar-nav {
      margin-right: initial !important;
      margin-top: auto;
      margin-bottom: auto
    }
  }
  
  @media (max-width: 991.98px) {
    .navbar-nav {
      margin-left: initial !important;
    }
  } 